numpy==1.19.5
gensim==3.8.3
pyvis==0.3.1
streamlit
streamlit-ace
mlwhatif[dev] @ git+https://github.com/stefan-grafberger/mlwhatif.git@81aec51d28778484e1e8fbbed9267440bda0c9c4
st-cytoscape @ git+https://github.com/stefan-grafberger/st-cytoscape.git@e085d946d8560acba99277d10db230eade7e1099
